*{
  font-family: 'Trebuchet MS', sans-serif;
}

body, .text{
  margin: 0;
}

h1{
  color: #2F4F4F;
}

.header{
  font-size: 200%;
  text-align: center;
  
}
.normal_text{
  font-size: 140%;
  width: 60%;
  margin: 2% 20%;
  padding: 1%;
  background-color: beige;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.r_container{
  width:25%;
  margin: 2% 2%;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2%;
  
}

.Home{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

a{
  text-decoration: none;
  color:black;
}


.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}